<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>

<body>
<div class="profile">
    <div>
        <img alt=""
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9FMNt-22NsZArpe8LemUtt3BHDQVJtiQwA&s">

    </div>
    <input id="uploadsfile" name="file-input" type="file">

    <button class="contact-btn" id="update"> update</button>


    <div class="infor1">
        <h1>Nguyễn Hải Nam</h1>
        <p class="hcm">Hồ Chí Minh city, VietNam</p>
        <p>Web Producer - Web Specialist </p>
        <p>Hồ Chí Minh city, VietNam</p>
    </div>
    <div class="infor">
        <div>
            <h5>65</h5>
            <p>Friends</p>

        </div>
        <div>
            <h5>43</h5>
            <p>Photos</p>
        </div>
        <div>
            <h5>21</h5>
            <p>Comments</p>
        </div>

    </div>
    <button><a href="">Show more</a></button>
</div>
<script th:src="@{/js/firebase.js}" type="module"></script>

<script th:src="@{/js/profile.js}" type="module"></script>

</body>

</html>